<form [formGroup]="appointmentForm">
  <div>
    <input
      type="text"
      placeholder="Appointment Title"
      formControlName="newAppointmentTitle"
    />
    <input
      type="date"
      placeholder="Appointment Date"
      formControlName="newAppointmentDate"
    />
    <button (click)="onAdd()">Add</button>
  </div>
</form>
<div *ngFor="let appointment of appointments; index as i">
  <li>
    {{ appointment.id }} {{ appointment.title }}
    {{ appointment.date | date : "dd-MMM-yyyy" }}
  </li>
  <button (click)="deleteAppointment(i)">Delete</button>
</div>
